img {
  width: 100%;
  border-radius: 6px;
}

.imgResize {
  max-height: 147px;
}

p.pkg {
  margin: 10px 0 0 0;
  text-align: center;
  padding: 5px;
}

h2 {
  text-align: center;
  font-size: 14px;
  margin-bottom: 2px;
  font-weight: bold;
}
.cost {
  text-align: center;
  font-weight: bolder;
}

.bg-info {
  border-radius: 6px;
}

@media screen and (max-width: 991px) {
  .imgResize {
        max-height: 390px;
    }
}

h1 {
  color: white!important;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  font-size: 8vw;
}
.vacaPkg {
  background-color: #eee;
  color: black!important;
  font-size: 30px;  
}

.jumbotron {
  background-image: url("../img/beach.jpg");
  background-size: cover;
  background-position: bottom;
}
